In [ ]:
SANDBOX_NAME = # Sandbox Name
DATA_PATH = "/data/sandboxes/"+SANDBOX_NAME+"/data/"





# Formateo de datos

In [ ]:
import pandas as pd
import numpy as np
from datetime import datetime



## Transformaciones de números

Vamos a aplicar una serie de formatos a una variable numérica



Creamos un número de ejemplo

In [ ]:
one_digit = 123456.78910



Formateamos a 2 cifras decimales

In [ ]:
format(one_digit, '0.2f')



Formateamos a 1 cifra decimal y comas

In [ ]:
format(one_digit, '0,.1f')



Formateamos a notación científica

In [ ]:
format(one_digit, 'e')



Formateamos a notación científica con 2 decimales

In [ ]:
format(one_digit, '0.2E')



## Transformaciones de strings



Podemos hacer modificaciones en el contenido de un string usando el operador %



Indicamos en una tupla los valores, string y float, a sustituir

In [ ]:
'The price of %s is %f' % ('oil barrels', 103.15)



También podemos pasar la información en modo de diccionario

In [ ]:
'The price of %(product)s is %(price)f' % {'product' : 'oil barrels', 'price' : 103.15}



En python están disponibles los siguientes códigos de formato

    %s string
    %r repr string
    %c character (integer or string)
    %d decimal
    %i integer
    %x hex integer
    %X same as X but with uppercase
    %e floating point lowercase
    %E floating point uppercase
    %f floating point decimal lowercase
    %F floating point decimal uppercase
    %g floating point e or f
    %G floating point E or F
    %% literal %



Es posible realizar transformaciones adicionales sobre los string, usando los métodos de la función `str`. Se pueden consultar todos sus métodos mediante el comando dir(str)

Vemos algunos ejemplos de los más usados.



Creamos un string ejemplo

In [ ]:
string = 'HELLO world'



Convierte a minúscula

In [ ]:
string.lower()



Convierte a mayúscula

In [ ]:
string.upper()



Convierte a mayúsculas la primera letra de cada palabra, dejando el resto a minúscula.

In [ ]:
string.title()



Devolver número de caractéres

In [ ]:
len(string)



Elimina espacios en blanco por izquierda

In [ ]:
'   Hello World   '.lstrip()



Elimina espacios en blanco por derecha

In [ ]:
'   Hello World   '.rstrip()



Elimina espacios en blanco por ambos lados

In [ ]:
'   Hello World   '.strip()



Parte el string en una lista según el criterio de partición, un espacio en blanco en este caso

In [ ]:
string.split(" ")



Reemplaza el contenido de un string con el de otra cadena

In [ ]:
string.replace('HELLO','Bye')



## Transformaciones de fechas



Creamos una fecha como string

In [ ]:
date = '2018-01-01'



Convertimos la fecha a datetime aplicando un formato conocido

In [ ]:
datetime.strptime(date, '%Y-%m-%d')



También es posible transformar un string a date usando `Pandas`



Creamos un dataframe con un campo fecha en formato string

In [ ]:
data = {'date': ['2014-05-01 18:47:05.069722', '2014-05-01 18:47:05.119994', '2014-05-02 18:47:05.178768', '2014-05-02 18:47:05.230071', '2014-05-02 18:47:05.230071', '2014-05-02 18:47:05.280592', '2014-05-03 18:47:05.332662', '2014-05-03 18:47:05.385109', '2014-05-04 18:47:05.436523', '2014-05-04 18:47:05.486877'], 
        'value': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
df = pd.DataFrame(data, columns = ['date', 'value'])
df



Transformamos el campo string 'date' a date.

In [ ]:
pd.to_datetime(df['date'])



## Transformaciones complejas: apply(), map(), mapapply()

En ocasiones es necesario realizar transformaciones más complejas a una parte o al conjunto de todos los datos. Para ello `Pandas` implementa las funciones apply(), map() y mapapply().

- apply(): aplica una función a todos los elementos de una serie
- map(): usado principalmente para mapear información
- applymap(): aplica una función a todos los elementos de un Dataframe

In [ ]:
titanic = pd.read_csv('datasets/titanic.csv')
titanic.head(3)



Vemos alguno ejemplos sobre Series



Creamos una nueva columna con .map()

In [ ]:
titanic['Sex_num'] = titanic.Sex.map({'female':0, 'male':1})
titanic.head(3)



Calculamos la longitud de cada uno de los nombres

In [ ]:
titanic['Name_length'] = titanic.Name.apply(len)
titanic.loc[0:4, ['Name', 'Name_length']]



Podemos aplicar igualmente estos métodos a un Dataframe

In [ ]:
drinks = pd.read_csv('datasets/drinks.csv')
drinks.head(3)



Obtenemos el valor máximo de consumo por tipo de alcohol

In [ ]:
drinks.loc[:, 'beer_servings':'wine_servings'].apply(max, axis=0)



En este ejemplo obtenemos el consumo máximo por registro (país) independientemente del tipo de alcohol

In [ ]:
drinks.loc[:, 'beer_servings':'wine_servings'].apply(max, axis=1)



Si quisieramos ver el tipo de bebida al que pertenece el máximo obtenido en la celda anterior

In [ ]:
drinks.loc[:, 'beer_servings':'wine_servings'].apply(np.argmax, axis=1)



Mediante applymap transformamos los consumos a float

In [ ]:
drinks.loc[:, 'beer_servings': 'wine_servings'].applymap(float).head()



# Ejercicios



## Ejercicio 1 

Dada los siguientes datos:

exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']



- a. Cargue el fichero en un dataframe y estudie las estructura de los datos.
- b. Modifique el nombre 'James' a 'Suresh'
- c. Modifique la columna score de modo que pase a tener 2 cifras decimales de precisión.



Cargue el fichero en un dataframe y estudie las estructura de los datos.

In [ ]:
# Respuesta

exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [ ]:
# Respuesta

df = pd.DataFrame(exam_data , index=labels)
df



Modifique el nombre 'James' a 'Suresh'

In [ ]:
# Respuesta

df['name'] = df['name'].replace('James', 'Suresh')



Modifique la columna score de modo que pase a tener 2 cifras decimales de precisión.

In [ ]:
# Respuesta

df['score'] = df['score'].apply(lambda x: format(x, '0.2f'))
df



## Ejercicio 2 

Dado el dataset /datasets/student-mat.csv



- a. Cargue el fichero en un dataframe y estudie las estructura de los datos.
- b. Seleccione en un nuevo DF desde las columnas school a guardian.
- c. Cree una función que convierta en mayúsculas las cadenas de texto y pase en mayúsculas las columnas Mjob y Fjob.
- d. Multiplique por 10 todos las variables numéricas del dataframe.



Cargue el fichero en un dataframe y estudie las estructura de los datos.

In [ ]:
# Respuesta

df = pd.read_csv('datasets/student-mat.csv', sep = ';')
df.head()



Seleccione en un nuevo DF desde las columnas school a guardian.

In [ ]:
# Respuesta

stud_alcoh = df.loc[: , "school":"guardian"]
stud_alcoh.head()



Cree una función que convierta en mayúsculas las cadenas de texto y pase en mayúsculas las columnas Mjob y Fjob.

In [ ]:
# Respuesta

capitalizer = lambda x: x.upper()

In [ ]:
# Respuesta

stud_alcoh['Mjob'] = stud_alcoh['Mjob'].apply(capitalizer)
stud_alcoh['Fjob'] = stud_alcoh['Fjob'].apply(capitalizer)
stud_alcoh.head()



Multiplique por 10 todos las variables numéricas del dataframe.

In [ ]:
# Respuesta

def times10(x):
    if type(x) is int:
        return 10 * x
    return x

In [ ]:
# Respuesta

stud_alcoh.applymap(times10).head(10)