In [2]:
  %matplotlib inline

import re
import random
from collections import Counter

import pandas as pd
pd.set_option('display.max_colwidth', -1)
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import kstest
sns.set(color_codes=True)

# Carga de librerías

In [3]:
#Cargamos el data set A
df = pd.read_csv('rfqs.csv')

In [4]:
df.head(5)

,Unnamed: 0,date_time,instrument,client,price,mid,vol_MM,dv01,num_dealers,side,won
0,94075,2019-01-25 15:58:29.0,I,F,112.779,112.7416,2.000,6.0870,5,-1,0
1,94087,2019-01-28 09:28:10.0,B,G,106.065,106.1855,0.500,21.9017,5,1,0
2,94089,2019-01-28 09:40:24.0,F,G,107.607,107.5570,0.975,13.2621,5,-1,0
3,94158,2019-01-29 16:21:06.0,E,F,100.622,100.5820,0.010,4.4853,5,-1,0
4,94194,2019-01-30 16:19:28.0,F,F,107.297,107.2170,0.448,13.2087,5,-1,0

In [5]:
#Vemos una muestra de los datos para ver con qué vamos a trabajar
df.head(5)

,Unnamed: 0,date_time,instrument,client,price,mid,vol_MM,dv01,num_dealers,side,won
0,94075,2019-01-25 15:58:29.0,I,F,112.779,112.7416,2.000,6.0870,5,-1,0
1,94087,2019-01-28 09:28:10.0,B,G,106.065,106.1855,0.500,21.9017,5,1,0
2,94089,2019-01-28 09:40:24.0,F,G,107.607,107.5570,0.975,13.2621,5,-1,0
3,94158,2019-01-29 16:21:06.0,E,F,100.622,100.5820,0.010,4.4853,5,-1,0
4,94194,2019-01-30 16:19:28.0,F,F,107.297,107.2170,0.448,13.2087,5,-1,0

In [6]:
#Vemos los parámetros estadísticos de cada variable
df.describe()

,Unnamed: 0,price,mid,vol_MM,dv01,num_dealers,side,won
count,6403.000000,6403.000000,6403.000000,6403.000000,6403.000000,6403.000000,6403.000000,6403.000000
mean,310732.564891,112.694414,112.662200,2.636600,11.585256,5.561612,-0.058254,0.112916
std,67590.523661,9.916090,9.906521,5.989479,6.910370,2.148954,0.998380,0.316515
min,94075.000000,99.069000,99.082500,0.001000,1.906000,1.000000,-1.000000,0.000000
25%,273751.500000,103.971000,103.911450,0.050000,7.120000,5.000000,-1.000000,0.000000
50%,326843.000000,110.751000,110.696200,0.650000,9.530200,5.000000,-1.000000,0.000000
75%,364830.500000,117.070500,117.066450,3.000000,14.593250,5.000000,1.000000,0.000000
max,397854.000000,147.153000,147.180900,131.400000,32.491200,21.000000,1.000000,1.000000

In [7]:
#Dimensiones del data set
df.shape

(6403, 11)

In [8]:
#Registros únicos
df['Unnamed: 0'].nunique()

6403

# Data Wranling

### Cambiar los nombres de las columnas para que cumplan buenas prácticas

In [9]:
#Hacemos que todos los nombres de las variables estén en minúscula
df.columns = [x.lower() for x in df.columns]

### Estudiar el formato de las variables, ver cuáles se deberían modificar y modificarlas cuando se considere oportuno

### Vemos si tenemos que crear nuevas variables

In [10]:
#Añadimos las columnas de spread compra y venta
df['spread_purc']=df['mid']-df['price']
df['spread_sel']=df['price']-df['mid']

In [14]:
df.describe()
df.dtypes

unnamed: 0     int64
date_time      object
instrument     object
client         object
price          float64
mid            float64
vol_mm         float64
dv01           float64
num_dealers    int64
side           int64
won            int64
spread_purc    float64
spread_sel     float64
dtype: object