In [0]:
SANDBOX_NAME = # Sandbox Name
DATA_PATH = "/data/sandboxes/"+SANDBOX_NAME+"/data/"

In [0]:
from google.colab import drive

In [0]:
drive.mount('/content/drive', force_remount=True)

NameError: ignored

In [0]:
#para leer desde drive se hace así:
from google.colab import drive
drive.mount('/content/drive',force_remount=True)

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive





# Formateo de datos

In [0]:
import pandas as pd
import numpy as np
from datetime import datetime



## Transformaciones de números

Vamos a aplicar una serie de formatos a una variable numérica



Creamos un número de ejemplo

In [0]:
one_digit = 123456.78910



Formateamos a 2 cifras decimales

In [0]:
format(one_digit, '0.2f')

'123456.79'



Formateamos a 1 cifra decimal y comas

In [0]:
format(one_digit, '0,.1f')

'123,456.8'



Formateamos a notación científica

In [0]:
format(one_digit, 'e')

'1.234568e+05'



Formateamos a notación científica con 2 decimales

In [0]:
format(one_digit, '0.2E')

'1.23E+05'



## Transformaciones de strings



Podemos hacer modificaciones en el contenido de un string usando el operador %



Indicamos en una tupla los valores, string y float, a sustituir

In [0]:
'The price of %s is %f' % ('oil barrels', 103.15)

'The price of oil barrels is 103.150000'



También podemos pasar la información en modo de diccionario

In [0]:
'The price of %(product)s is %(price)f' % {'product' : 'oil barrels', 'price' : 103.15}

'The price of oil barrels is 103.150000'



En python están disponibles los siguientes códigos de formato

    %s string
    %r repr string
    %c character (integer or string)
    %d decimal
    %i integer
    %x hex integer
    %X same as X but with uppercase
    %e floating point lowercase
    %E floating point uppercase
    %f floating point decimal lowercase
    %F floating point decimal uppercase
    %g floating point e or f
    %G floating point E or F
    %% literal %



Es posible realizar transformaciones adicionales sobre los string, usando los métodos de la función `str`. Se pueden consultar todos sus métodos mediante el comando dir(str)

Vemos algunos ejemplos de los más usados.



Creamos un string ejemplo

In [0]:
string = 'HELLO world'



Convierte a minúscula

In [0]:
string.lower()

'hello world'



Convierte a mayúscula

In [0]:
string.upper()

'HELLO WORLD'



Convierte a mayúsculas la primera letra de cada palabra, dejando el resto a minúscula.

In [0]:
string.title()

'Hello World'



Devolver número de caractéres

In [0]:
len(string)

11



Elimina espacios en blanco por izquierda

In [0]:
'   Hello World   '.lstrip()

'Hello World   '



Elimina espacios en blanco por derecha

In [0]:
'   Hello World   '.rstrip()

'   Hello World'



Elimina espacios en blanco por ambos lados

In [0]:
'   Hello World   '.strip()

'Hello World'



Parte el string en una lista según el criterio de partición, un espacio en blanco en este caso

In [3]:
string.split(" ")

['HELLO', 'world']



Reemplaza el contenido de un string con el de otra cadena

In [4]:
string.replace('HELLO','Bye')

'Bye world'



## Transformaciones de fechas



Creamos una fecha como string

In [0]:
date = '2018-01-01'



Convertimos la fecha a datetime aplicando un formato conocido

In [0]:
datetime.strptime(date, '%Y-%m-%d')

datetime.datetime(2018, 1, 1, 0, 0)



También es posible transformar un string a date usando `Pandas`



Creamos un dataframe con un campo fecha en formato string

In [0]:
data = {'date': ['2014-05-01 18:47:05.069722', '2014-05-01 18:47:05.119994', '2014-05-02 18:47:05.178768', '2014-05-02 18:47:05.230071', '2014-05-02 18:47:05.230071', '2014-05-02 18:47:05.280592', '2014-05-03 18:47:05.332662', '2014-05-03 18:47:05.385109', '2014-05-04 18:47:05.436523', '2014-05-04 18:47:05.486877'], 
        'value': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
df = pd.DataFrame(data, columns = ['date', 'value'])
df

                         date  value
0  2014-05-01 18:47:05.069722      1
1  2014-05-01 18:47:05.119994      1
2  2014-05-02 18:47:05.178768      1
3  2014-05-02 18:47:05.230071      1
4  2014-05-02 18:47:05.230071      1
5  2014-05-02 18:47:05.280592      1
6  2014-05-03 18:47:05.332662      1
7  2014-05-03 18:47:05.385109      1
8  2014-05-04 18:47:05.436523      1
9  2014-05-04 18:47:05.486877      1



Transformamos el campo string 'date' a date.

In [0]:
pd.to_datetime(df['date'])

0   2014-05-01 18:47:05.069722
1   2014-05-01 18:47:05.119994
2   2014-05-02 18:47:05.178768
3   2014-05-02 18:47:05.230071
4   2014-05-02 18:47:05.230071
5   2014-05-02 18:47:05.280592
6   2014-05-03 18:47:05.332662
7   2014-05-03 18:47:05.385109
8   2014-05-04 18:47:05.436523
9   2014-05-04 18:47:05.486877
Name: date, dtype: datetime64[ns]



## Transformaciones complejas: apply(), map(), mapapply()

En ocasiones es necesario realizar transformaciones más complejas a una parte o al conjunto de todos los datos. Para ello `Pandas` implementa las funciones apply(), map() y mapapply().

- apply(): aplica una función a todos los elementos de una serie
- map(): usado principalmente para mapear información
- applymap(): aplica una función a todos los elementos de un Dataframe

In [0]:
titanic = pd.read_csv('datasets/titanic.csv')
titanic.head(3)

FileNotFoundError: ignored



Vemos alguno ejemplos sobre Series



Creamos una nueva columna con .map()

In [0]:
titanic['Sex_num'] = titanic.Sex.map({'female':0, 'male':1})
titanic.head(3)



Calculamos la longitud de cada uno de los nombres

In [0]:
titanic['Name_length'] = titanic.Name.apply(len)
titanic.loc[0:4, ['Name', 'Name_length']]



Podemos aplicar igualmente estos métodos a un Dataframe

In [0]:
drinks = pd.read_csv('/content/drive/My Drive/Data/drinks.csv')
drinks.head(3)

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF



Obtenemos el valor máximo de consumo por tipo de alcohol

In [0]:
drinks.loc[:, 'beer_servings':'wine_servings'].apply(max, axis=0)

beer_servings      376
spirit_servings    438
wine_servings      370
dtype: int64



En este ejemplo obtenemos el consumo máximo por registro (país) independientemente del tipo de alcohol

In [0]:
drinks.loc[:, 'beer_servings':'wine_servings'].apply(max, axis=1)



Si quisieramos ver el tipo de bebida al que pertenece el máximo obtenido en la celda anterior

In [0]:
# Apply aplica la formula en tod el registro
drinks.loc[:, 'beer_servings':'wine_servings'].apply(np.argmax, axis=1)



Mediante applymap transformamos los consumos a float

In [0]:
#Applymap aplica la formula en cada un de los registros, no en todos a la vez
drinks.loc[:, 'beer_servings': 'wine_servings'].applymap(float).head()

   beer_servings  spirit_servings  wine_servings
0            0.0              0.0            0.0
1           89.0            132.0           54.0
2           25.0              0.0           14.0
3          245.0            138.0          312.0
4          217.0             57.0           45.0



# Ejercicios



## Ejercicio 1 

Dada los siguientes datos:

exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']



- a. Cargue el fichero en un dataframe y estudie las estructura de los datos.
- b. Modifique el nombre 'James' a 'Suresh'
- c. Modifique la columna score de modo que pase a tener 2 cifras decimales de precisión.



Cargue el fichero en un dataframe y estudie las estructura de los datos.

In [0]:
# Respuesta aqui

exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'], 'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19], 'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1], 'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [0]:
names= pd.DataFrame(exam_data, index=labels)
names

   attempts       name qualify  score
a         1  Anastasia     yes   12.5
b         3       Dima      no    9.0
c         2  Katherine     yes   16.5
d         3      James      no    NaN
e         2      Emily      no    9.0
f         3    Michael     yes   20.0
g         1    Matthew     yes   14.5
h         1      Laura      no    NaN
i         2      Kevin      no    8.0
j         1      Jonas     yes   19.0

In [0]:
print(names.shape)
print(names.)

(10, 4)

NameError: ignored

In [0]:
# Respuesta aqui



Modifique el nombre 'James' a 'Suresh'

In [0]:
# Respuesta aqui



Modifique la columna score de modo que pase a tener 2 cifras decimales de precisión.

In [0]:
# Respuesta aqui



## Ejercicio 2 

Dado el dataset /datasets/student-mat.csv



- a. Cargue el fichero en un dataframe y estudie las estructura de los datos.
- b. Seleccione en un nuevo DF desde las columnas school a guardian.
- c. Cree una función que convierta en mayúsculas las cadenas de texto y pase en mayúsculas las columnas Mjob y Fjob.
- d. Multiplique por 10 todos las variables numéricas del dataframe.



Cargue el fichero en un dataframe y estudie las estructura de los datos.

In [0]:
# Respuesta aqui



Seleccione en un nuevo DF desde las columnas school a guardian.

In [0]:
# Respuesta aqui



Cree una función que convierta en mayúsculas las cadenas de texto y pase en mayúsculas las columnas Mjob y Fjob.

In [0]:
# Respuesta aqui

In [0]:
# Respuesta aqui



Multiplique por 10 todos las variables numéricas del dataframe.

In [0]:
# Respuesta aqui

In [0]:
# Respuesta aqui